/*normalize*/

body {
  margin: 0;
}
  
h1 {
  margin: 0;
  padding: 0;
  font-size: 2em;
}

h2, h3 {
    margin: 0;
    padding: 0;
    font-size: 1em;
}

p {
  margin: 0;
  padding: 0;
}

ul {
  padding: 0;
  margin: 0;
}

input {
    border: 0 none;
}

textarea {
    padding: 0;
    border: 0 none;
}

html {
    scroll-behavior: smooth;
}

/*header*/

header {
    position: sticky;
    z-index: 10;
    top: 0;
    height: 89px;
    background: #2d303a;
    border-bottom: #323746 solid 6px;
}

.wrap {
    position: relative;
    margin: 0 auto;
    width: 100%;
    max-width: 1020px;
}

.header-block {
    height: 89px;
    display: flex;
    margin: 0 4%;
    justify-content: space-between;
}

.header-burger {
    display: none;
}

.logo .logo-text h1 {
    padding-top: 25%;
    font-size: 25px;
    font-family: "Lato-Bold";
    font-weight: 700;
    letter-spacing: -0.5px;
    text-transform: uppercase;
}

.logo .logo-text h1 span {
    color: #f06c64;
}

.logo .logo-text:link,
.logo .logo-text:visited,
.logo .logo-text:active {
    color: #fff;
    text-decoration: none;
}

.navbar {
    width: 450px;
}

.navigation {
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
}

.navigation li {
    position: relative;
    padding: 8.8% 0 0 6.3%;
}

.navigation li a {
    font-size: 12px;
    font-family: "Lato-Bold";
    text-decoration: none;
    text-transform: uppercase;
}

.active {
    color: #f06c64;
}

.navigation li a:not(.active) {
    color: #fff;
}

.navigation li a:not(.active):hover {
    color: #f06c64;
}

.navigation li:not(:first-child)::before {
    content: "\00B7";
    position: absolute;
    left: 11px;
    top: 42px;
    color: #494e62;
}

/*Slider block*/

.slider-block {
    position: relative;
    display: flex;
    max-height: 595px;
    height: 59vw;
    background-color: #f06c64;
    border-bottom: solid #ea676b 5px;
}

.slider-container {
    margin: 0 4%;
    height: 100%;
    max-height: 595px;
    z-index: 1;
    overflow: hidden;
}

.slide {
    display: none;
    position: relative;
    animation: 0.5s ease-in-out;
    height: 91vw;
    max-height: 600px;
    width: 100%;
}

.slide.next-slide,
.slide.active-slide {
    display: block;
}

.to-left {
    animation-name: left;
}

.to-right {
    animation-name: right;
    animation-direction: reverse;
}

.from-left {
    animation-name: left;
    animation-direction: reverse;
}

.from-right {
    animation-name: right;
}

@keyframes left {
    from {
        left: 0;
    }
    to {
        left: -100%;
    }
}

@keyframes right {
    from {
        left: 100%;
    }
    to {
        left: 0;
    }
}

.previous-arrow,
.next-arrow {
    position: absolute;
    top: 47%;
}

.previous-arrow {
    margin-left: 2px;
}

.next-arrow {
    right: 4%;
}

.previous-arrow:hover,
.next-arrow:hover {
    opacity: 0.5;
}

.iphone {
    position: absolute;
    width: 21vw;
    height: 45vw;
    max-width: 216px;
    max-height: 458px;
    z-index: 2;
    background-image: url(./assets/img/iPhone.png);
    background-repeat: no-repeat;
    border-radius: 12% / 6%;
    background-size: cover;
}

.first-iphone {
    top: 8.9%;
    left: 7.7%;
    box-shadow: 2vw 2vw 0px 0.4vw rgba(0, 0, 0, 0.15);
}

.second-iphone {
    transform: rotate(-270deg);
    top: 8.9%;
    right: 23.2%;
    box-shadow: 2vw -2vw 0px 0.4vw rgba(0, 0, 0, 0.15);
}

.iphone-screen-vertical {
    position: absolute;
    margin: 30.2% 0px 0px 6.9%; 
    width: 18.5vw;
    height: 33vw;
    max-width: 188px;
    max-height: 333px;
}

.iphone-screen-horizontal {
    position: absolute;
    top: 14.2%;
    right: 5.8%;
    width: 18.4vw;
    height: 33vw;
    max-width: 189px;
    max-height: 333px;
}

.iphone-button {
    position: absolute;
    width: 19%;
    height: 9%;
    z-index: 3;
    bottom: 1.8%;
    right: 41%;
    border-radius: 100%;
    background-color: #fafafa;
    background-image: url(./assets/img/iphone-button.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 42%;
    cursor: pointer;
}

.iphone-button:hover {
    background-color: lightgray;
    box-shadow: 0px 0px 0px 3px rgba(0, 0, 0, 0.1) inset;
}

.blue-slide {
    height: 59vw;
    max-height: 600px;
    width: 100%;
}

/*our services block*/

.our-services {
    border-bottom: solid #fff 6px;
    background-color: #f2f2f2;
    scroll-margin-top: 95px;
}

.our-services-container {
    padding: 6.6% 0 3.8% 0;
    margin: 0 4%;
}

.our-services-headline {
    font-size: 30px;
    font-family: "Lato-Black";
    font-weight: 900;
    line-height: 18.5px;
    letter-spacing: -0.2px;
    color: #666d89;
    text-transform: capitalize;
}

.services-description {
    padding: 3% 0;
    text-align: justify;
    font-size: 18px;
    line-height: 29px;
    color: #767e9e;
    font-family: "Lato-Light";
    font-weight: 300;
}

.services-all-blocks {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.services-block {
    display: flex;
    width: 32.1%;
    margin: 1.9% 0 1.7% 0;
}

.services-block-description {
    padding-left: 6%;
}

.services-block-headline {
    font-size: 18px;
    line-height: 18px;
    color: #666d89;
    font-family: "Lato-Black";
    font-weight: 900;
    letter-spacing: -0.1px;
    text-transform: capitalize;
}

.services-block-text {
    /*width: 219px;*/
    width: 100%; /*
    height: 64.5px;*/
    height: 100%;
    padding-top: 4%;
    text-align: justify;
    font-size: 12px;
    line-height: 22px;
    font-family: "Lato-Regular";
    font-weight: 400;
    color: #767e9e;
    overflow: hidden;
}

/*Portfolio + some selectors from About-us*/

.portfolio-block {
    background-color: #2d303a;
    border-bottom: solid #323746 6px;
    scroll-margin-top: 95px;
}

.portfolio-container {
    padding: 6.65% 0 4.6% 0;
    margin: 0 4%;
}

.portfolio-headline h2,
.about-us-headline h2 {
    display: inherit;
    letter-spacing: -0.19px;
    font-size: 30px;
    font-family: "Lato-Black";
    font-weight: 900;
    line-height: 18px;
    color: #666d89;
    text-transform: capitalize;
}

.portfolio-description,
.about-us-description {
    font-size: 18px;
    font-family: "Lato-Light";
    font-weight: 300;
    line-height: 30px;
    color: #767e9e;
}

.portfolio-description,
.about-us-description {
    padding: 2.9% 0 1.2% 0;
}

.portfolio-navigation ul {
    display: flex;
    width: 300px;
    list-style: none;
  }

.portfolio-navigation ul li p {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -1px;
    font-size: 12px;
    font-weight: 400;
    font-family: "Lato-Regular";
    border: 1px solid #767e9e;
    border-radius: 5px;
    color: #767e9e;
    text-transform: capitalize;
}

p.portfolio-button.btn-1 {
    margin-left: 1px;
    padding: 3px 7px;
    width: 13px;
}

p.portfolio-button.btn-2 {
    padding: 3px 6px;
    width: 64px;
    letter-spacing: -0.05px;
    margin-left: 10px;
}

p.portfolio-button.btn-3 {
    width: 90px;
    margin-left: 10px;
    padding: 3px 0px;
}
  
p.portfolio-button.btn-4 {
    width: 50px;
    margin-left: 10px;
    padding: 3px;
}

.portfolio-button:hover,
p.portfolio-button.active-tab {
    color: #dedede;
    border-color: #dedede;
    cursor: pointer;
}

.portfolio-nav-buttons li p.portfolio-button.btn-1.active-tab {
    border: 0.5px solid #dedede;
    color: #dedede;
}

.portfolio-projects-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 1.9%;
    overflow: hidden;
}

.portfolio-project {
    width: 220px;
    flex: 1 0 22%;
    margin: 6px 20px 8px 5px;
    transition: all 0.3s ease-in-out;
    list-style: none;
}

.portfolio-project img {
    width: 100%;
}

.portfolio-project:nth-child(n + 13) {
    display: none;
}

.portfolio-project:hover {
    cursor: pointer;
    opacity: 0.3;
}

.bordered {
    outline: 5px solid #F06C64;
}

.bordered:hover {
    opacity: 1;
}

/*About Us*/

.about-us-block {
    border-bottom: 6px #fff solid;
    background-color: #f2f2f2;
    scroll-margin-top: 95px;
}

.about-us-container {
    padding: 6.6% 0 6.7% 0;
    margin: 0 4%;
}

.about-us-description {
    padding: 2.8% 0 4.8% 0;
    text-align: justify;
}

.all-specialists {
    display: flex;
    justify-content: space-between;
}

.specialist-block {
    width: calc((100% - 40px) / 3);
    display: flex;
    flex-direction: column;
}

.specialist-photo img {
    width: 100%;
}

.specialist-name {
    max-width: 300px;
    margin-top: 4.3%;
    font-size: 18px;
    font-family: "Lato-Black";
    font-weight: 900;
    line-height: 18px;
    color: #666d89;
    text-transform: capitalize;
}

.specialist-name h3 {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.specialist-description {
    padding: 3.4% 0 0 0;
    max-width: 302px;
    font-size: 12px;
    line-height: 22px;
    color: #767e9e;
    font-family: "Lato-Regular";
    font-weight: 400;
    letter-spacing: -0.1px;
    text-align: justify;
}

.specialist-in-social-networks {
    display: flex;
    padding-top: 7.3%;
    padding-left: 1px;
}

.social-network {
    margin-right: 8px;
    width: 30px;
    height: 30px;
    border: 1px solid #666d89;
    border-radius: 50%;
}

.facebook,
.twitter,
.google,
.linkedin {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 7.5px;
}

.social-network:hover {
    cursor: pointer;
    opacity: 0.5;
}

/*Get a Quote*/

.get-a-quote-block {
    background-color: #f06c64;
    border-bottom: solid 6px #ea676b;
    scroll-margin-top: 95px;
}

.get-a-quote-container {
    padding: 6.7% 0 1.3% 0;
    margin: 0 4%;
}

.get-a-quote-headline h2 {
    margin-bottom: 2.8%;
    font-size: 30px;
    font-family: "Lato-Black";
    font-weight: 900;
    line-height: 18px;
    color: #f0d8d9;
    letter-spacing: -0.2px;
}

.get-a-quote-description p {
    margin-bottom: 4.8%;
    font-size: 18px;
    font-family: "Lato-Light";
    font-weight: 300;
    line-height: 30px;
    color: #f0d8d9;
    text-align: justify;
}

form input {
    margin-bottom: 2.8%;
}

.feedback {
    display: flex;
    justify-content: space-between;
}

.feedback-form {
    display: flex;
    flex-direction: column;
    width: calc((100% - 12px)/1.5);
}

#name,
#email,
#subject,
.textarea-description {
    background-color: #d6564f;
    border-radius: 5px;
    padding-left: 14px;
    color: #f48c8f;
}

#name,
#email,
#subject {
    height: 37px;
}

.textarea-description {
    /*height: 195px;*/
    padding-top: 1.2%;
}

#name::-webkit-input-placeholder,
#email::-webkit-input-placeholder,
#subject::-webkit-input-placeholder,
.textarea-description::-webkit-input-placeholder {
    font-size: 12px;
    font-family: "Lato-Regular";
    font-weight: 400;
    line-height: 22px;
    color: #f48c8f;
}

#submit {
    margin: 15px 0 2.6% 0;
    width: calc(100% / 4);
    height: 7%;
    background-color: #d6564f;
    border: solid 2px rgb(45, 48, 58, 0.5);
    border-radius: 5px;
    color: #f48c8f
}

#submit:hover {
    background-color: rgb(45, 48, 58, 0.5);
    cursor: pointer;
}

#message-block {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background: #0008;
}

#message-block.hidden {
    display: none;
}

#message {
    position: fixed;
    width: 50%;
    max-height: 200px;
    top: 30%;
    left: 22%;
    padding: 2%;
    border: 2px solid #000;
    text-align: center;
    background: #0008;

    overflow-y: scroll;
}

p span.possible-messages {
    font-size: 17px;
    font-family: "Lato-Regular";
    font-weight: 400;
    color: #f0d8d9;
}

.message-block-btn {
    margin-top: 10px;
    font-family: "Lato-Regular";
}

.contact-info {
    display: flex;
    flex-direction: column;
    width: calc((100% - 36px)/3);
}

.contact-info-headline h3 {
    padding-bottom: 10px;
    font-size: 18px;
    font-family: "Lato-Black";
    font-weight: 900;
    line-height: 18px;
    color: #f0d8d9;
    text-transform: capitalize;
}

.contact-info-description p {
    font-size: 12px;
    font-family: "Lato-Regular";
    font-weight: 400;
    line-height: 22px;
    text-align: justify;
    color: #f0d8d9;
    word-break: break-all;
}

.contact-info-location,
.contact-info-telephone,
.contact-info-email {
    display: flex;
}

.location-address,
.telephone-number,
.email-link {
    width: 300px;
    font-size: 12px;
    font-family: "Lato-Regular";
    font-weight: 400;
    line-height: 22px;
    color: #f0d8d9;
}

.location-address a:active,
.telephone-number a:active {
    text-decoration: none;
}

.contact-info-location {
    margin-top: 20px;
}

.location-icon {
    margin: 3px 0 0 4px;
}

.location-address {
    margin-left: 13px;
}

.telephone-icon {
    margin: 0.3% 0 0 0.3%;
}

.telephone-number {
    margin: -1px 0 0 3.3%;
}

.email-icon {
    margin: 1% 0 0 1px;
}

.email-link {
    margin-left: 10px;
}

/*FOOTER*/

.footer-block {
    background-color: #2d303a;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    margin: 0 4%;;
}

.copyright {
    margin: 3.2% 0 3.2% 1px;
    font-size: 12px;
    font-family: "Lato-Regular";
    font-weight: 400;
    letter-spacing: -0.1px;
    color: #666d89;
}

.social-networks-footer {
    display: flex;
}

.social-network.social-network-footer {
    margin: 13.7% 0 0 8px;
}

.facebook-footer:hover,
.twitter-footer:hover,
.google-footer:hover,
.linkedin-footer:hover {
    cursor: pointer;
    opacity: 0.5;
}

/*media*/

/* < 1020 */

@media (max-width: 1019px) {
    .services-block {
        width: 40%;
    }

    .services-all-blocks {
        justify-content: space-evenly;
    }

    .portfolio-project {
        margin: 6px 20px 2% 5px;
    }

    .social-network.social-network-footer {
        margin-top: auto;
        margin-bottom: auto;
        margin-left: 8px;
    }
}

/* < 768 */
@media (max-width: 767px) {

    header {
        height: 71px;
        border: none;
    }

    .header-block {
        height: 71px;
    }

    .logo {
        margin: 0 auto;
    }

    .logo .logo-text h1 {
        padding-top: 16%;
    }

    .navbar {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 10;
        width: 74%;
        height: 100%;
        background-color: #2d303a;
        box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.5);
    }

    .navigation {
        flex-wrap: wrap;
        justify-content: center;
        padding-top: 30%;
    }

    .navigation li {
        width: 100%;
        padding: 2% 0 0 18%;
    }

    .navigation li a {
        font-size: 24px;
    }

    .navigation li:not(:first-child)::before {
        content: none;
    }

    .navbar-active {
        display: block;
    }

    .burger-popup {
        transition: 0.5s;
        transform: rotate(90deg);
    }

    .burger-back {
        transition: 0.5s;
        transform: rotate(180deg);
    }

    .header-burger {
        display: block;
        position: relative;
        top: 33%;
        left: 3%;
        z-index: 11;
        width: 25px;
        height: 20px;
    }

    .header-burger span {
        background-color: #fff;
        position: absolute;
        left: 0;
        top: 9px;
        width: 100%;
        height: 2px;
    }

    .header-burger::before,
    .header-burger::after {
        content: '';
        background-color: #fff;
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
    }

    .header-burger::before {
        top: 0;
    }

    .header-burger::after {
        bottom: 0;
    }

    .our-services-container,
    .portfolio-container,
    .about-us-container,
    .get-a-quote-container {
        padding-top: 6%;
        margin: 0 7%;
    }

    .about-us-container {
        padding-bottom: 0;
    }

    .services-block {
        width: 80%;
    }

    .portfolio-projects-container {
        margin-top: 22px;
    }

    .portfolio-description {
        padding-bottom: 20px;
    }

    .portfolio-project {
        flex: 1 0 30%;
    }

    .portfolio-project:nth-child(n + 9) {
        display: none;
    }

    .all-specialists {
        flex-wrap: wrap;
        justify-content: center;
    }

    .specialist-block {
        width: 52%;
        margin-bottom: 5%;
    }

    .specialist-in-social-networks {
        padding-top: 4%;
    }

    .feedback {
        flex-wrap: wrap;
    }

    .feedback-form {
        width: 100%;
    }

    #submit {
        width: 100%;
        height: 38px;
    }

    .contact-info {
        width: 100%;
        margin: 4% 0;
    }

    .copyright {
        display: none;
    }

    .footer-container {
        justify-content: center;
        margin: 0 4%;
        padding: 4% 0;
    }
}

/* < 375 */
@media (max-width: 375px) {

    .our-services-container,
    .portfolio-container,
    .about-us-container,
    .get-a-quote-container {
        padding-top: 11%;
    }

    .services-block {
        width: 100%;
        margin: 16px 0;
    }

    .services-description, 
    .portfolio-description,
    .about-us-description, 
    .get-a-quote-description {
        padding: 10% 0;
    }

    .portfolio-description {
        padding: 8% 0 5% 0;
    }

    .portfolio-project {
        margin: 6px 5px 2% 5px;
        flex: 1 0 31%;
    }

    .specialist-block {
        width: 100%;
    }
}